@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&family=Sora:wght@300&display=swap');
/*remove default borders or padding*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: "raleway", sans-serif;
    background-color: #f9f5f3;
}
h1, h2, h3, i {
    font-family: "Sora", sans-serif;
    color: #26312c;
}
/*header, nav styling*/
header {
    font-family: "sora", sans-serif;
    color: #26312c;
    background-color: #81a094;
    height: 160px;
    font-size: 160%;
}
#name {
    float: left;
    margin-left: 30px;
    vertical-align: middle;
}
#logo {
    height: 150px;
    width: 160px;
    float: left;
    padding: 0;
    margin: 0;
    border: 2px solid #26312c;
    border-width: 3px;
    border-radius: 50%;
}
.hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/background-hero.jpeg') repeat center center;
    background-size: cover;
    background-color: #81a094;
}
/* text box on hero image*/
.over-text {
    background-color: rgba(212, 133, 14, 0.6);
    height: 200px;
    width: 300px;
    text-align: center;
    padding: 30px;
    color: rgba(255, 255, 255);
    border-radius: 5%;
    bottom: 200px;
    float: left;
    left: 200px;
    position: absolute;
}
/* heading in box on hero image*/
.over-text > h2 {
    font-size: 200%;
    padding-bottom: 15px;
}
.over-text > h3{
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    font-size: 150%;
}
/*Navagation */
#menu {
    font-size: 80%;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;   
}
#menu a{
    color: inherit;
    text-decoration: none;
}
#menu a:hover{
    border-bottom: 2px solid rgba(212, 133, 14);
    color:rgba(212, 133, 14);
}
.active {
    border-bottom: 2px solid #26312c;
}
#menu, #name{
    line-height: 150px;
}
/* About Farm section */
#about-farm {
    height: 800px;
    text-align: center;
    background-color: #f9f5f3;
}
#about-farm h2 {
    margin: 0 20px;
    color:#26312c;
    font-size: 250%;
    padding-top: 30px;
}
#about-farm p{
    font-size: 200%;
    margin: 15px;
    text-align: left;
    line-height: 30px;
}
#left-about-farm {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: left;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-left: 15px;
    margin-top: 30px;
    text-align: center;
    font-size: 60%;
}
#right-about-farm {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-right: 15px;
    margin-top: 30px;
    text-align: center;
    font-size: 60%;
}
#centre-about-farm {
    width: 30%;
    height: 80%;
    margin: 0 auto;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-top: 30px;
    margin-right: 73px;
    text-align: center;
    font-size: 60%;
}
.about-images {
    width: 90%;
    height: 300px;
    margin: 30px;
    border-radius: 5%;
}
/* footer section */
footer{
    height: 130px;
    background-color: #81a094;
    float: left;
    width:100%;
}
#contact-details {
    float: left;
    padding: 25px 0 10px 25px;
    color: black;
    letter-spacing: 2px;
}
#contact-details li{
    list-style-type: none;
    font-weight: 900;
}
#social-media-links li{
    float: right;
    list-style-type: none;
    margin-right: 150px;
    line-height: 125px;
    color:#26312c;
    font-size: 150%;
}
#social-links a:hover{
    border-bottom: 2px solid rgba(212, 133, 14);
    color:rgba(212, 133, 14);
}
/* Farm and shop section*/
#shop-info{
    height: 1200px;
    width: 100%;
    position: relative;
}
#shop-image{
    height: 600px;
    width: 100%;
    background: url('../images/shop.jpg') no-repeat center center;
    background-size: cover;
    background-color: #81a094;
}
#opening-times{
    margin: 030px auto;
    height: 600px;
    width: 500px;
    background-color: #81a094;
    text-align: center;
    border-radius: 5%;
    padding : 15px;
    box-shadow: 10px 10px 8px #26312c;
}
#opening-times h3{
    font-size: 200%;
    line-height: 100px;
}
#opening-times p{
    border-bottom: #f9f5f3;
    
}
#opening-times h2{
    font-size: 300%;
    text-align: center;
}
#opening-times i{
    margin-right: 25px;
}
#opening-times h2{
    border-bottom: 3px solid #f9f5f3;
    color:#f9f5f3;
}
iframe {
    width: 100%;
    height: 400px;
}
/* box options on boxes.html page */
#boxes {
    height: 900px;
    text-align: center;
    background-color: #f9f5f3;
}
#boxes h2 {
    margin: 0 20px;
    color:#26312c;
    font-size: 250%;
    padding: 15px 0;
}
#boxes-image{
    height: 600px;
    width: 100%;
    background: url('../images/greens.webp') repeat center center;
    background-size: cover;
    background-color: #f9f5f3;
}
#left-large-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: left;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-left: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}
#right-small-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-right: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}
#centre-medium-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-top: 30px;
    margin-right: 70px;
    text-align: center;
    font-size: 60%;
}
.boxes-images {
    width: 90%;
    height: 300px;
    margin: 30px;
    border-radius: 5%;
}
.box-item-list {
    list-style-type: none;
    font-size: 180%;
    margin-bottom: 25px;
    font-weight: 900;
}
.order-button {
    margin: 0 auto;
}
.order-button > a{
    text-align: center;
    color:#26312c;
    padding: 10px;
    font-size: 200%;
    text-decoration: none;
    line-height: 60px;
    border: 2px solid  #26312c;
    margin-top: 20px;
    border-radius: 5%;
}
.order-button > a:hover{
    border: 2px solid rgba(212, 133, 14);
    color:rgba(212, 133, 14);
}
.over-text a:hover{
    border: 2px solid #f9f5f3;
    color:#f9f5f3;
}
/*Order Online form section*/
.form-outter{
    height: 800px;
    width: 100%;
    position: relative;
}
#form-background{
    height: 800px;
    width: 100%;
    background: url('../images/background-form1.jpg') no-repeat center center;
    background-size: cover;
    background-color: #81a094;
}
.signup-form{
    color: #f9f5f3;
    background-color: rgba(38, 49, 44, 0.8);
    max-width: 400px;
    height: 500px;
    position: absolute;
    padding: 50px;
    border-radius: 5%;
    top: 100px;
    right: 300px;
    bottom: 150px;
}
.signup-form h3{
    color:#f9f5f3;
    line-height: 30px;
    margin-bottom: 20px;
}
.input-field{
    background: transparent;
    color: #f9f5f3;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px 0;
    border: 1px solid #f9f5f3;
    border-radius: 3px;
}
.radio-buttons {
    letter-spacing: 2px;
    line-height: 30px;
}
#submit-button{
    text-align: center;
    padding: 10px 25px 10px 25px;
    font-size: 150%;
    margin: 17px 125px;
    background-color: #f9f5f3;
    color: rgba(212, 133, 14, 1);
    border-radius: 5%;
}
#submit-button:hover {
    background-color: #81a094;
    color: rgba(212, 133, 14, 1);
}
.input-field:hover{
    background-color: #f9f5f3;
    color:#26312c;
}
/*form submit page, confirmation of submit*/
#form-confirm{
    background: url('../images/background-form1.jpg') no-repeat center center;
    background-size: cover;
    background-color: #81a094;

    height: 800px;
    width: 100%;
}
#form-confirm h2{
    float: right;
    line-height: 60px;
}
#confirm-box{
    color: #f9f5f3;
    background-color: rgba(38, 49, 44, 0.8);
    max-width: 250px;
    height: 250px;
    position: absolute;
    padding: 50px;
    border-radius: 5%;
    top: 400px;
    float: right;
    margin-left: 900px;
}
#confirm-box h2, #confirm-box h3{
    text-align: center;
    color:#f9f5f3;
    padding: 20px;
}
/* media responsive for larger and medium devices*/
@media screen and (max-width: 1200px) {
    #about-farm, #boxes{
        width: 100%;
        height: 1200px;
        margin: 0 auto;
        padding: 30px 0;
    }
    #right-about-farm, #left-about-farm, #left-large-box, #right-small-box{
        width: 100%;
        padding: 0;
        margin: 0 auto;
        font-size: 70%;
    }
    #centre-about-farm, #centre-medium-box {
        clear: both;
        width:100%;
        padding: 0;
        margin: 0 auto;
        font-size: 70%;
    }   
    #menu{
        clear:left;
        float:right;
        margin-left: 100px;
        margin-bottom: 0px;
        line-height: 5px;
        vertical-align: top;
    }
    #name{
        vertical-align: top;
    }
    header{
        height: 180px;
    }
    #shop-info{
        height: 1200px;
        width: 100%;
    }
    #opening-times {
        margin: 0 auto;
        height: 600px;
        width: 500px;
    }
    #confirm-box{
        max-width: 50%;
        height: 250px;
        padding: 50px;
        border-radius: 5%;
        top: 400px;
        float: right;
        margin-left: 150px;
    }
}
/* respnsive for medium devices*/
@media screen and (max-width: 950px) {
    #name{
        font-size: 120%;
    }
    #menu, #name{
        line-height: 60px;
    }
    #menu li{
        margin-right: 15px;
    }   
    #logo {
        height: 75px;
        width: 80px;
        float: left;
        padding: 0;
        margin: 0;
        border: 2px solid #26312c;
        border-width: 3px;
        border-radius: 50%;
    }
    #opening-times {
        margin: 0 auto;
        height: 750px;
        width: 80%; 
    }
    #social-media-links li{
        margin-right: 50px;
    }
    #right-about-farm img, #left-about-farm img, #left-large-box img, #right-small-box img{
        margin: 0 auto;
        margin-top: 15px;
    }
    #centre-about-farm img, #centre-medium-box img{
        margin: 0 auto;
        margin-top: 15px;
    }
    .over-text{
        width: 40%;
        left: 50px;
        height: 40%;
    }
    .over-text > h2 {
        font-size: 160%;
        padding-bottom: 15px;
    }    
    .over-text > h3{
        text-align: center;
        line-height: 30px;
        font-weight: 900;
        font-size: 130%;
    }
}
/*for small devices*/
@media screen and (max-width: 600px){
    .over-text{
        width: 50%;
        left: 50px;
    }
    .over-text > h2 {
        font-size: 130%;
        padding-bottom: 15px;
    }   
    .over-text > h3{
        font-size: 120%;
    }
    #menu, #name{
        line-height: 30px;
    }
    #opening-times{
        height: 750px;
        width: 90%
    }
    /*contact details on footer*/
    #contact-details {
        letter-spacing: 2px;
        font-size: 80%;
    }
    /* links on footer*/
    #social-media-links li{
        margin-right: 20px;
        line-height: 125px;
        font-size: 80%;
    }
    .form-outter{
        height: 800px;
        width: 100%;
        position: relative;
    }
    #form-background{
        height: 800px;
        width: 100%;
    }
    .signup-form{
        background-size: cover;
        height: 600px;
        margin: 0 auto;
        top: 100px;
        right: 0px;
        bottom: 150px;
    }
    .signup-form h3{
        line-height: 30px;
        margin-bottom: 20px;
    }
    .input-field{
        width: 100%;
        margin: 10px 0 20px 0;
    }
    #submit-button{
        margin: 0 auto;
    }
    #confirm-box{
        max-width: 80%;
        top: 400px;
        float: right;
        margin-left: 0px;
    }
}
/*for mobiles*/
@media screen and (max-width: 380px) {
    #name{
        font-size: 80%;
    }
    #menu{
        font-size: 60%;
        float: left;
    }
    #about-farm h2 {
        font-size: 150%;
        padding-top: 30px;
    }
    #about-farm p{
        font-size: 150%;
    }
    #opening-times{
        height: 750px;
        width: 90%
    }
    .box-item-list {
        list-style-type: none;
        font-size: 150%;
    }
    .form-outter{
        height: 800px;
        width: 100%;
        position: relative;
    }
    #form-background{
        height: 800px;
        width: 100%;
        background: url('../images/background-form1.jpg') no-repeat center center;
        background-size: cover;
        background-color: #81a094;
    }
    .signup-form{
        max-width: 100%;
        height: 600px;
    }
    footer{
        height: 200px;
        background-color: #81a094;
        float: left;
        width:100%;
    }
    /*contact details on footer*/
    #contact-details {
        font-size: 80%;
    }
    /* links on footer*/
    #social-links li{
        clear: right;
        float: left;
        font-size: 70%;
        line-height: 0;
    }
}