@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&family=Sora:wght@300&display=swap');
/*remove default borders or padding*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "raleway", sans-serif;
    background-color: #f9f5f3;
}

h1, h2, h3 {
    font-family: "Sora", sans-serif;
    color: #26312c;
}

/*header, nav styling*/
header {
    font-family: "sora", sans-serif;
    color: #26312c;
    background-color: #81a094;
    height: 160px;
    font-size: 180%;
}

#name {
    float: left;
    margin-left: 30px;
    vertical-align: middle;
}

.hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/background-hero.jpeg') repeat center center;
    background-size: cover;
    background-color: rgba (164, 172, 175, .7);
}

#logo {
    height: 150px;
    width: 160px;
    float: left;
    padding: 0;
    margin: 0;
    border: 2px solid #26312c;
    border-width: 3px;
    border-radius: 50%;
}
/* text box on hero image*/
.over-text {
    background-color: rgba(212, 133, 14, 0.6);
    height: 200px;
    width: 300px;
    text-align: center;
    padding: 30px;
    color: rgba(255, 255, 255);
    border-radius: 5%;
    
    bottom: 200px;
    float: left;
    margin-left: 150px;

    position: absolute;
}

/* heading in box on hero image*/
.over-text > h2 {
    font-size: 200%;
    padding-bottom: 15px;
}

.over-text > h3{
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    font-size: 150%;
}

/*Navagation */
#menu {
    font-size: 40%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;   
}

#menu a{
    color: inherit;
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 2px solid rgba(212, 133, 14);
    color:rgba(212, 133, 14);
}

#menu, #name{
    line-height: 150px;
}

/* About Farm section */

#about-farm {
    height: 800px;
    text-align: center;
    background-color: #f9f5f3;
}
#about-farm h2 {
    margin: 0 20px;
    color:#26312c;
    font-size: 250%;
    padding-top: 30px;
}
#about-farm p{
    font-size: 200%;
    margin: 15px;
    text-align: left;
    line-height: 30px;
}
#left-about-farm {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: left;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-left: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}

#right-about-farm {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-right: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}

#centre-about-farm {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-top: 30px;
    margin-right: 70px;

    text-align: center;
    font-size: 60%;
}

.about-images {
    width: 90%;
    height: 300px;
    margin: 30px;
    border-radius: 5%;
}



/* footer section */
footer{
    height: 125px;
    background-color: #81a094;
}

#contact-details {
    float: left;
    padding: 30px;
}

#contact-details li{
    list-style-type: none;
    color: #26312c;
}

#social-media-links li{
    float: right;
    list-style-type: none;
    margin-right: 150px;
    line-height: 150px;
    color:#26312c;
    font-size: 150%;
}

#social-links a:hover{
        border-bottom: 2px solid rgba(212, 133, 14);
        color:rgba(212, 133, 14);
}

/* Farm and shop section*/
#shop-image{
    height: 600px;
    width: 100%;
    background: url('../images/shop.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba (164, 172, 175, .7);
}

#shop-gallery{
    width: 100%;
}

.gallery-image{
    height: 500px;
    width: 30%;
    margin: 15px;
}

#opening-times {
    margin: 30px auto;
    height: 600px;
    width: 500px;
    background-color: #81a094;
    text-align: center;
    border-radius: 5%;
    padding: 15px;
}

#opening-times h3{
    font-size: 200%;
    line-height: 100px;
}

#opening-times p{
    border-bottom: #f9f5f3;
    
}

#opening-times h1{
    font-size: 300%;
    text-align: center;
}


/* box options on boxes.html page */
#boxes {
    height: 900px;
    text-align: center;
    background-color: #f9f5f3;
}
#boxes h2 {
    margin: 0 20px;
    color:#26312c;
    font-size: 250%;
    padding: 15px 0;
}

#boxes-image{
    height: 600px;
    width: 100%;
    background: url('../images/greens.webp') repeat center center;
    background-size: cover;
    background-color: rgba (164, 172, 175, .7);
}
#left-large-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: left;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-left: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}

#right-small-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-right: 15px;
    margin-top: 30px;

    text-align: center;
    font-size: 60%;
}

#centre-medium-box {
    width: 30%;
    height: 80%;
    padding-top: 15px;
    float: right;
    background-color: #81a094;
    border-radius: 5%;
    box-shadow: 10px 10px 8px #26312c;
    margin-top: 30px;
    margin-right: 70px;

    text-align: center;
    font-size: 60%;
}

.boxes-images {
    width: 90%;
    height: 300px;
    margin: 30px;
    border-radius: 5%;
}

.box-item-list {
    list-style-type: none;
    font-size: 180%;
}

#order-button {
    margin: 0 auto;
}

#order-button a{
    text-align: center;
    padding: 10px;
    font-size: 250%;
    text-decoration: none;
    line-height: 60px;
    border: 2px solid  #26312c;
    margin-top: 20px;
    border-radius: 10%;
}

#order-button a:hover{
    border: 2px solid rgba(212, 133, 14);
    color:rgba(212, 133, 14);
}

/*Order Online form section*/

#form-section{
    height: 800px;
    background: url('../images/background-form1.jpg') repeat center center;
    background-size: cover;
    background-color: rgba (164, 172, 175);
}

.signup-form{
    margin: 100px 0 400px 1100px;
    color: #f9f5f3;
    background-color: rgba(38, 49, 44, 0.8);
    max-width: 400px;
    height: 500px;
    position: absolute;
    padding: 50px;
    border-radius: 5%;
}

.signup-form h3{
    color:#f9f5f3;
    line-height: 30px;
    margin-bottom: 30px;
}

.input-field{
    background: transparent;
    color: #f9f5f3;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px 0;
    border: 1px solid #f9f5f3;
    border-radius: 3px;
}

#form-section p{
    line-height: 40px;
}

#submit-button{
    text-align: center;
    padding: 10px 25px 10px 25px;
    font-size: 150%;
    margin: 17px 125px;
    background-color: #f9f5f3;
    color: rgba(212, 133, 14, 1);
    border-radius: 5%;
}

#submit-button:hover {
    background-color: #81a094;
    color: rgba(212, 133, 14, 1);
}

.input-field:hover{
    background-color: #f9f5f3;
    color:#26312c;
}

#shop-info h2 {
    margin: 0 20px;
    color:#26312c;
    font-size: 250%;
    padding: 15px 0;
    text-align: center;
}